* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #babaca;
}

header {
    display: flex;
    width: 100vw;
}

.container-logo {
    display: flex;
    padding: 50px;
}

.logo {
    width: 400px;
    border: 20px solid white;
    border-bottom: 50px solid white;
    box-shadow: 5px 5px 7px  rgba(0, 0, 0, 0.3);
    position: absolute;
    cursor: pointer;
    transition: 1s ease all;
}


#lg-2 {
    position: relative;
    transform: rotate(5deg);
}

#lg-3 {
    transform: rotate(10deg);
}

#lg-1:hover {
    transform: rotate(-10deg);
}

#lg-2:hover {
    transform: rotate(-10deg);
}

#lg-3:hover {
    transform: rotate(-10deg);
}

.container-gallery {
    display: flex;
    width: 100vw;
}

.off {
    display: none;
}

.gallery-img {
    width: 400px;
    border: 20px solid white;
    border-bottom: 50px solid white;
    box-shadow: 5px 5px 7px  rgba(0, 0, 0, 0.3);
    margin: 10px;
}